#container {
	margin:0 auto;
	width:90%;
	min-width:1050px;
	border:1px solid black;
}

img {
	width:50%;
	height:45%;
	object-fit:cover;
	margin:8px 8px 8px 0;
}
.menu {
		margin:0 130px;
		float:left;
		color:#FFECEC;
		
}
header {
	background-image:url(head.jpg);
	color:#FFECEC;
	text-align:center;
	border:1px solid black;
}
footer {
	background-color:#3F7575;
	border:1px solid #3F7575;
}
nav {
	background-color:#4FB6CC;
	height:30px;
	border:1px solid #4FB6CC;
}
.one {
	background-color:#6CC6C6;
}
.two {
	background-color:#509898;
}
.vote {
	float:left;
}
.vibory {
	float:right;
}
article {
	background-color:#6CC6C6;
	color:#FFECEC;
	font-size:16pt;
	border:1px solid #6CC6C6;
}

.podval {
	width:100px;
	height:90px;
}
.menu:hover {
	color:black;
	font-size:18px;
	background-color:white;
}
